.row {
  horizontal-align: middle;
  position:relative;text-align:center;
}

.btn-doctor {
  position:relative;text-align:center;
}

.btn-consultation {
  position:relative;
  text-align:center;
}

.line{
  border-top:1px solid black;
  width:100%
}
