<div class="container">
  <h2>Book a Consultation</h2>
  <div class="jumbotron text-left">

    <div class="row">
      <div class="col-xs-6 col-sm-4" ng-repeat="patients in book.patients | orderBy:'rank'">
        <div class="thumbnail">
          <!-- <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}"> -->
        </div>
        <div class="caption">
            <h3>{{ patients.name }}</h3>
            <p>{{ patients.age }}</p>
            <!-- <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p> -->
        </div>
        Or
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-6 col-sm-3" ng-repeat="patients in book.healthCareProfession | orderBy:'rank'">
        <div class="thumbnail">
          <!-- <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}"> -->
        </div>
        <div class="caption">
          <h3>{{ patients.name }}</h3>
          <p>{{ patients.details }}</p>
            <!-- <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p> -->
        </div>
        Or
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="caption">

        SELECT THE DOCTOR
        <button type="button" class="btn btn-lg btn-success" ng-click="book.open('sm')">DR. PAUL DEVIS</button>
      </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="caption">
          NEXT AVAILABLE APPOINTMENT
          <button type="button" class="btn btn-lg btn-success" ng-click="book.open()">MAY 30 AT 14:00</button>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-9">
        <div class="caption">
          Get the best from your consultation by uploading a photo or a note
           <div class="row">
            <div class="col-xs-8 col-sm-6">
              <button type="button" class="btn btn-lg btn-success" ng-click="book.showToastr()">Attach</button>
            </div>
            <div class="col-xs-4 col-sm-6">
              <button type="button" class="btn btn-lg btn-success" ng-click="book.showToastr()">Add a Note</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="caption">
          <button type="button" class="btn btn-lg btn-success" ng-click="book.showToastr()">BOOK CONSULTATION</button>
        </div>
      </div>
    </div>

  </div>
</div>
