<div class="container">
  <h2>Book a Consultation</h2>
  <div class="jumbotron">

    <div class="row">
      <h3>BOOK THE CONSULTATION FOR<h3>
      <div class="col-xs-6 col-sm-4" ng-repeat="patient in book.patients">
        <button ng-disabled="patient.selected" ng-click="updateSelection($index, book.patients)" >
          <img class="pull-right" ng-src="assets/images/{{ patient.logo }}" alt="{{ patient.name }}">
        </button>
        <div class="caption">
          <input ng-model="patient.selected" ng-click="updateSelection($index, book.patients)" type="checkbox" />
          <h5>{{ patient.name }}</h5>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <h3>SELECT A HEALTHCARE PROFESSION</h3>
      <div class="col-xs-6 col-sm-3" ng-repeat="professional in book.healthCareProfessional">
        <button ng-disabled="professional.selected" ng-click="updateSelection($index, book.healthCareProfessional)" >
          <img class="pull-right" ng-src="assets/images/{{ professional.logo }}" alt="{{ professional.name }}">
        </button>
        <div class="caption">
          <h5>{{ professional.name }}</h5>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <h3>SELECT THE DOCTOR<h3>
      <div class="col-xs-6 col-sm-4">
        <button type="button" class="btn btn-lg btn-success btn-doctor" ng-click="book.open('sm')">DR. PAUL DEVIS</button>
      </div>
    </div>

    <br>

    <div class="row">
      <h3>NEXT AVAILABLE APPOINTMENT<h3>
      <div class="col-xs-6 col-sm-4">
        <div class="caption">
          <button type="button" class="btn btn-lg btn-success" ng-click="book.open()">MAY 30 AT 14:00</button>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <h3>Get the best from your consultation by uploading a photo or a note</h3>
      <div class="col-sm-9">
        <div class="caption">
           <div class="row">
            <div class="col-xs-8 col-sm-6">
              <button type="button" class="btn btn-lg btn-success" ng-click="book.showToastr()">Attach</button>
            </div>
            <div class="col-xs-4 col-sm-6">
              <button type="button" class="btn btn-lg btn-success" ng-click="book.showToastr()">Add a Note</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="caption">
          <button type="button" class="btn btn-lg btn-success" ng-click="book.showToastr()">BOOK CONSULTATION</button>
        </div>
      </div>
    </div>

  </div>
</div>
